@import "tailwindcss";

@theme inline {
  --font-mono: var(--font-jetbrains);

  --color-bg: #0a0a0a;
  --color-surface: #111111;
  --color-border: #1e1e1e;
  --color-muted: #3a3a3a;
  --color-secondary: #777777;
  --color-primary: #e0e0e0;
  --color-accent: #EF9F27;
}

@layer base {
  * {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    font-size: 18px;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-primary);
    font-family: var(--font-body);
  }

  h1, h2, h3, h4 {
    font-family: var(--font-heading);
  }

  code, .mono {
    font-family: var(--font-mono);
  }
}


